@use 'var';

.header{
    width: 100%;
    height: 8vh;
    min-height: 50px;
    padding: 10 0px;
    top: 0;
    left: 0;
    border: none;
    display: flex;
    justify-content: center;
    position: fixed;
    background: transparent; /* Fundo preto semi-transparente */
    z-index: 100;
    

    &__brand{
        color: #fff;
        font-size: 24px;
        z-index: 2;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 100px;
        max-width: 20%;
        
    }
    
    .navmenu{
        width: 950px;
        z-index: 2;
        position: relative ;
        overflow: visible;
        
        
    
        &__links{

            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 100%;
            height: 100%;
            
    
            &__item{
                transition: transform ease 0.5s; /* Mover para cá */

                &:hover {
                    transform: scale(1.2); /* Aumenta levemente o tamanho */
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    color: #fff;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 20px;
                    
                
                    
                }
            }
        }
    }

    &__icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        // margin-left: 40px;

        & img:nth-child(1){
            margin-left: 60px;
            margin-right: 40px;
        }

         img{
            width: 40px;
            height: 40px;
            
         }

         
    }


}


