.hero{
    height: 100vh;
    width: 100vw;
    padding: 100px 0 0 50px;
    display: flex;
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    &__logo,
    &__description {
    position: relative;
    z-index: 2; 
    }

    &__content{
        position: relative;
        z-index: 2; 
        display: flex;
        flex-direction: column;
       
        
        
        &__title{

            display: flex;
            position: relative;
            z-index: 2; 
            justify-content: flex-end;
            align-items: baseline;
            width: 85vw;
            // margin-left: 300px;
            height: 15vh;
            margin-bottom: 50px;
    
            &__img{
                height: 150px;
                width: 600px;
            }
    
            &__img:hover{
                transition: transform 0.5s ease-in;
                // Ajuda o navegador a preparar a animação para melhor desempenho
                will-change: transform;
                transform: translateY(-5px);
            }
    
    
            &__rating{
                width: 100px;
            }
        }
    
        &__buttons{
            z-index: 2;
            display: flex;
            justify-content: flex-end;
            text-align: center;
            align-items: center;
            width: 80vw;

            &__item{
                margin: 20px;

                img{
                    height: 50px;
                    display: block;
                   
                }

                &:hover{ 
                    transition: transform ease 0.5s;
                    transform: scale(1.05);
                    cursor: pointer;
                }

                &--is-active{
                    background-color: #F40411;
                    border-radius: 20px;
                    

                    img{
                        
                        display: block;

                        &:hover{
                            background-color: #790A22;
                            border-radius: 20px;
                            transition: transform ease-in 0.5s;
                            cursor: pointer;
                           
                        }
                    }
                }
            } 
        }
    }
}