.recommended{
    // background: linear-gradient(to bottom, #222 0%, #000 100%);
    background: linear-gradient(135deg, #000000 10% ,#040303 20%, #0F0A04 80%,);
    // border-top: 2px solid rgba(255, 255, 255, 0.1);
    color: white;
    z-index: 2;
    position: relative;
    
    // Navegação --------------------------------
    &__navmenu{

        width: 100vw;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid #fff;

        &__links{
            width: 60%;
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            list-style: none;
            
            

            &__item{
                transition: transform ease 0.5s;

                &--is-active{
                    display: list-item;
                    box-shadow: 0px 4px 0px 0px rgba(255, 255, 255, 0.3); 
                    transform: scale(1.1); /* Aumenta o tamanho */
                    transition: transform 0.3s ease, box-shadow 0.3s ease; 

                    &:after{
                        transform: scaleX(1);  /* Quando ativo, a borda aparece */
                        transform-origin: bottom left; /* Faz a animação acontecer da esquerda para a direita */
                    }

                }

                &:hover{
                    transform: scale(1.2);
                    
                    
                }
            }

            a{
                text-decoration: none;
                color: white; /* Ajuste conforme necessário */
                font-size: 20px;
                
            } 
        }
    }
    // Imagens----------------------------------------
    &__list{    

        margin-top: 44px;
        opacity: 0;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        transition: opacity 0.5s ease;


        &--is-active{
            display: flex;
            flex-direction: row;
            justify-content: center;
            opacity: 1;
            }


        &__item{
            margin: 50px;
            

            img{
                width: 250px;
                height: 400px;
                border-radius: 18px;
                transition: transform ease-in 0.5s;

                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }

}