@use 'var';
@use 'header';
@use 'hero';
@use 'recommended';
@use 'footer';

@keyframes fadeIn {
    from { opacity: 0.7; }
    to { opacity: 1; }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    opacity: 0.5;
    animation: fadeIn 1s ease-in-out forwards;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    transform: scale(1);
    transform-origin: top left;
    width: 100%;
    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-family: var.$navmenufont;
}

.title--big{
    font-family: var.$textfont;
    font-size: 32px;
    color: #fff;
    // text-shadow: rgba(0, 0, 0, 0.8);
    font-weight: normal;
}

.text--big{
    font-family: var.$textfont;
    font-size: 24px;
    font-weight: 500; 
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.8);
}


.text{
    color: #fff;
    font-family: var.$textfont;
    font-weight: 550; 
    font-size: 18px;
    line-height: 157.4%;
    text-align: left; /* Ajuste conforme necessário */ 

    @media (max-width: 1600px){
        font-size: 12px;     
    }
    
}