@use 'var';
@use 'header';
@use 'hero';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    
}


body{
    background-image: url(../img/Scarface-Wallpaper.jpeg);
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

li{
    list-style: none;
}

a{
    text-decoration: none;

    &:hover{
        transition: transform ease 0.5s;
        transform: scale(10);
        cursor: pointer;
    }
}

.title--big{
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.8);
    line-height: 2;
}

.text--big{
    font-family: 'Montserrat';
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.8);
}


.text{
    font-family: 'Montserrat';
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    margin: 10px;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.8);
}